.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: -180px auto;

  .table__body .table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
  
    &:last-child {
      border-bottom: none;
    }

  }

}
