.container {
  display: flex;
  flex-direction: column;
  margin: 5px;

  p {
    align-self: flex-start;
    opacity: 0.6;
  }

  .container__select {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 1.5rem;
    max-width: 760px;
    padding-left: 10px;
  }
}